<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="http://localhost:5000/images/man.png" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>alevante@acageek.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">edit</i>Mi Cuenta</li>

            </ul>
            
          </div>
         
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <h4 class="text-center">Administración</h4>
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--white material-icons" role="presentation">home</i>Inicio</a>
          <a class="mdl-navigation__link" href="/clientes"><i class="mdl-color-text--white material-icons" role="presentation">people_alt</i>Clientes</a>
          <a class="mdl-navigation__link" href="/productos"><i class="mdl-color-text--white material-icons" role="presentation">layers</i>Productos</a>
          <a class="mdl-navigation__link" href="/pedidos"><i class="mdl-color-text--white material-icons" role="presentation">book</i>Pedidos</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--white material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>